<section class="container">
  <h1 *ngIf="isGameRunning">{{ activePlayer }} 's Turn</h1>
  <h1 *ngIf="!isGameRunning">Tic Tac Toe</h1>
  <div class="grid-container row">
    <ng-container *ngFor="let x of board; let i = index">
      <div
        class="game-square col"
        (click)="changePlayer(x)"
        [ngClass]="{ noClick: winner }"
      >
        <p class="text-grey-darker">{{ x.state }}</p>
      </div>
    </ng-container>
  </div>
  <div>
    <br />
    <h1 *ngIf="winner">{{ activePlayer }} Won</h1>
    <button class="btn btn-sm btn-warning" (click)="newGame()">Reset</button>
  </div>
</section>
